<!-- Your banner code -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner-lotr4.jpg');">
  <div class="banner-content text-center">
    <h1 class="welcome">Welcome to Middle Earth</h1>
    <p>Rent unique places to stay in the entire Middle Earth</p>
    <div class="search-form form-inline">
      <input type="text" class="form-control input-lg" placeholder="checkin">
      <input type="text" class="form-control input-lg" placeholder="checkout">
      <select class="form-control input-lg">
        <option value="1">1 guest</option>
        <option value="2">2 guests</option>
        <option value="3">3 guests</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </div>
  </div>
</div>
<!-- Your features code -->
<div class="wrapper-white padded text-center features">
  <div class="container">
    <div class="row">
      <% data.icons.features.each do |feature, field| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag field.image, alt: feature + " icon" -%>
          <h2><%= field.title %></h2>
          <p><%= field.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Your cards code -->
<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Your next trip</h2>
    <div class="row">
      <% data.flats.each do |owner, field| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <% link_to "#" do %>
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/<%= field.flat_picture %>');">
            <div class="card-category"><%= field.owner_city %></div>
            <div class="card-description">
              <h2><%= field.flat_name %></h2>
              <p><%= field.flat_description %></p>
            </div>
            <%= image_tag field.owner_picture, class: "card-user avatar avatar-md" %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Your newsletter code -->
<div id="newsletter" class="wrapper-white text-center padded">
  <h2>Get news from us</h2>
  <p>Leave us your mail and get news from us</p>
  <form class="form-inline">
    <div class="form-group">
      <input type="email" class="form-control" id="newsletterEmailSubscription" placeholder="bob@gmail.com">
    </div>
    <button type="submit" class="btn btn-primary">Subscribe</button>
  </form>
</div>

<!-- Your map code -->
<div id="map" style="width: 100%; height: 500px;"></div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.8655909, 2.378983);

var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>
